<div class="projects-container" id="home">
  <header>
    <app-header [receptBgInput]="updateIconBg" (toogleThemeReturn)="isSunOrMoon($event)"></app-header>
  </header>

  <main>
    <section class="projects">
      <h3>Projetos</h3>

      <div class="project-single">
        <a href="https://github.com/Namibo06/front_angular_vida_financeira" target="_blank">
          <img src="../../../../assets/projeto-financeiro.png" alt="Projeto Financeiro">

          <h4>Vida Financeira</h4>

          <picture>
            <img src="../../../../assets/icons8-angular.svg" alt="Angular Framework" title="Angular Framework">

            <img src="../../../../assets/icons8-nestjs.svg" alt="NestJS" title="NestJS">

            <img src="../../../../assets/icons8-mongo-db-48.png" alt="MongoDB" title="MongoDB">
          </picture>
        </a>
      </div><!--project-single-->

      <div class="project-single">
        <a href="https://github.com/Namibo06/projeto-barbearia" target="_blank">
          <img src="../../../../assets/projeto-barbx.png" alt="Barbx">

          <h4>Barbx</h4>

          <picture>
            <img src="../../../../assets/icons8-html5.svg" alt="HTML5" title="HTML5">

            <img src="../../../../assets/icons8-css.svg" alt="CSS3" title="CSS3">

            <img src="../../../../assets/icons8-js.svg" alt="JavaScript" title="JavaScript">
          </picture>
        </a>
      </div><!--project-single-->

      <div class="project-single">
        <a href="https://github.com/Namibo06/api_gerenciamento_hotel_canino" target="_blank">
          <img src="../../../../assets/projeto-hotel-canino.jpeg" alt="Gerenciamento Hotel Canino" class="image-main">

          <h4>API de Gerenciamento para Hotel Canino</h4>

          <picture>
            <img src="../../../../assets/icons8-nodejs.svg" alt="NodeJS">

            <img src="../../../../assets/icons8-postgresql.svg" alt="PostgreSQL">
          </picture>
        </a>
      </div><!--projects-single-->

      <div class="project-single">
        <a href="https://github.com/Namibo06/lavaRapido_angular" target="_blank">
          <img src="../../../../assets/lava-rapido.png" alt="Lava Rápido" class="image-main">

          <h4>Lava Rápido Fast and Wish</h4>

          <picture>
            <img src="../../../../assets/icons8-angular.svg" alt="Angular Framework">

            <img src="../../../../assets/icons8-laravel-48.png" alt="Laravel">

            <img src="../../../../assets/icons8-postgresql.svg" alt="PostgreSQL">
          </picture>
        </a>
      </div><!--projects-single-->

      <div class="project-single">
        <a href="https://github.com/Namibo06/hotel_angular" target="_blank">
          <img src="../../../../assets/projeto-hotel.png" alt="Hotel Praiano" class="image-main">

          <h4>Hotel Praiano</h4>
  
          <picture>
            <img src="../../../../assets/icons8-angular.svg" alt="Angular Framework">
  
            <img src="../../../../assets/icons8-laravel-48.png" alt="Laravel">
  
            <img src="../../../../assets/icons8-postgresql.svg" alt="PostgreSQL">
          </picture>
        </a>
      </div><!--projects-single-->
    </section><!--projects-->
  </main>
</div><!--projects-container-->
