<div class="projects-container" id="home">
  <header>
    <app-header [receptBgInput]="updateIconBg" (toogleThemeReturn)="isSunOrMoon($event)"></app-header>
  </header>

  <main>
    <section class="projects">
      <h3>Projetos</h3>

      <div class="project-single">
        <img src="../../../../assets/lava-rapido.png" alt="Lava Rápido" class="image-main">

        <h4>Lava Rápido Fast and Wish</h4>

        <picture>
          <img src="../../../../assets/icons8-angular.svg" alt="Angular Framework">

          <img src="../../../../assets/icons8-laravel-48.png" alt="Laravel">

          <img src="../../../../assets/icons8-postgresql.svg" alt="PostgreSQL">
        </picture>
      </div><!--projects-single-->

      <div class="project-single">
        <img src="../../../../assets/projeto-hotel.png" alt="Hotel Praiano" class="image-main">

        <h4>Hotel Praiano</h4>

        <picture>
          <img src="../../../../assets/icons8-angular.svg" alt="Angular Framework">

          <img src="../../../../assets/icons8-laravel-48.png" alt="Laravel">

          <img src="../../../../assets/icons8-postgresql.svg" alt="PostgreSQL">
        </picture>
      </div><!--projects-single-->
    </section><!--projects-->
  </main>
</div><!--projects-container-->
