@media screen and (width < 950px)
  /*projects container*/
  .projects-container
    min-height: 290vh

    main
      section.projects
        div.project-single
          img.image-main
            width: 550px !important
            max-width: 95% !important

          picture
            left: -45px !important

            img
              width: 30px !important
              height: 30px !important

@media screen and (width < 850px)
  /*projects container*/
  .projects-container
    min-height: 270vh


@media screen and (width < 650px)
  /*projects container*/
  .projects-container
    min-height: 260vh


@media screen and (width < 600px)
  /*projects container*/
  .projects-container
    min-height: 250vh


@media screen and (width < 520px)
  /*projects container*/
  .projects-container
    min-height: 230vh


@media screen and (width < 470px)
  /*projects container*/
  .projects-container
    min-height: 220vh

    main
      section.projects
        div.project-single
          img.image-main
            max-width: 100% !important


@media screen and (width < 410px)
  /*projects container*/
  .projects-container
    min-height: 210vh


@media screen and (width < 340px)
  /*projects container*/
  .projects-container
    min-height: 200vh

    main
      section.projects
        div.project-single
          h4
            font-size: 14px !important
