<div class="home-container" id="home">
  <header>
    <app-header (toogleThemeReturn)="isSunOrMoon($event)" [receptBgInput]="updateIconBg"></app-header>
  </header>

  <main>
    <section class="about">
      <picture>
        <img src="../../../../assets/113950682.jpg" alt="image">
      </picture>

      <div class="content">
        <div class="name">
          <h3>Joalisson P. Maia</h3>
        </div><!--name-->

        <div class="description">
          <p>Sou Desenvolvedor Full Stack, atuando principalmente com Angular, PHP, Java, e Node, com conhecimento em versionamento de código, e banco de dados. Tenho as qualidades e habilidades que precisa? Entre em contato comigo.</p>
        </div><!--description-->

        <div class="buttons">
          <button type="button">
            <a href="https://wa.me/5575992889592">
              <fa-icon [icon]="whatsapp"></fa-icon>
              Whatsapp
            </a>

          </button>

          <button type="button" (click)="copyEmail()">
            <fa-icon [icon]="copy_temporary"></fa-icon>
            Copiar Email
          </button>
        </div><!--buttons-->

        <div class="socials">
          <button type="button" >
            <a href="https://github.com/Namibo06" target="_blank">
              <fa-icon [icon]="github"></fa-icon>
            </a>
          </button>

          <button type="button">
            <a href="https://www.linkedin.com/in/joalisson-p-maia-5396b5232?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
              <fa-icon [icon]="linkedIn"></fa-icon>
            </a>
          </button>

          <button type="button">
            <a href="https://www.instagram.com/j.maia06/?utm_source=qr&igsh=bGZ2bzRyam9idWF3" target="_blank">
              <fa-icon [icon]="instagram"></fa-icon>
            </a>
          </button>
        </div><!--socials-->
      </div><!--content-->
    </section><!--about-->

    <section class="experiences-and-stacks">
      <div class="experiences">
        <h3>Experiências:</h3>

        <div class="experience-single">
          <div class="year">
            <p>06/2022 - 06/2023</p>
          </div><!--year-->

          <div class="job-title-name">
            <p>Enova Tecnologia</p>

            <p>Estagiário Suporte de Ti</p>
          </div><!--job-title-name-->
        </div><!--experience-single-->
      </div><!--experiences-->

      <div class="stacks">
        <h3>Conhecimentos em:</h3>

        <picture>
          <div class="stack-single">
            <img src="../../../../assets/icons8-html5.svg" alt="html" title="HTML">
          </div><!--stack-single-->

          <div class="stack-single">
            <img src="../../../../assets/icons8-css.svg" alt="css" title="CSS">
          </div><!--stack-single-->

          <div class="stack-single">
            <img src="../../../../assets/icons8-sass.svg" alt="sass" title="Sass">
          </div><!--stack-single-->

          <div class="stack-single">
            <img src="../../../../assets/icons8-js.svg" alt="javascript" title="JavaScript">
          </div><!--stack-single-->

          <div class="stack-single">
            <img src="../../../../assets/icons8-angular.svg" alt="angular" title="Angular Framework">
          </div><!--stack-single-->

          <div class="stack-single">
            <img src="../../../../assets/icons8-php.svg" alt="php" title="PHP">
          </div><!--stack-single-->

          <div class="stack-single">
            <img src="../../../../assets/icons8-laravel-48.png" alt="laravel" title="Laravel">
          </div><!--stack-single-->

          <div class="stack-single">
            <img src="../../../../assets/icons8-java.svg" alt="java" title="Java">
          </div><!--stack-single-->

          <div class="stack-single">
            <img src="../../../../assets/icons8-java.svg" alt="springboot" title="SpringBoot">
          </div><!--stack-single-->

          <div class="stack-single">
            <img src="../../../../assets/icons8-nodejs.svg" alt="nodejs" title="Node.js">
          </div><!--stack-single-->

          <div class="stack-single">
            <img src="../../../../assets/icons8-nestjs.svg" alt="nestjs" title="Nest.js">
          </div><!--stack-single-->

          <div class="stack-single">
            <img src="../../../../assets/icons8-mysql.svg" alt="mysql" title="MySQL">
          </div><!--stack-single-->

          <div class="stack-single">
            <img src="../../../../assets/icons8-postgresql.svg" alt="postgresql" title="PostgreSQL">
          </div><!--stack-single-->

          <div class="stack-single">
            <img src="../../../../assets/icons8-mongo-db-48.png" alt="mongodb" title="MongoDB">
          </div><!--stack-single-->

          <div class="stack-single">
            <img src="../../../../assets/icons8-git.svg" alt="git" title="Git">
          </div><!--stack-single-->

          <div class="stack-single">
            <img src="../../../../assets/icons8-ionic.svg" alt="ionic" title="Ionic">
          </div><!--stack-single-->
        </picture>
      </div><!--stacks-->
    </section><!--experiences-and-stacks-->

    <section class="projects">
      <h3>Projetos Recentes:</h3>

      <div class="project-wrapper">
        <div class="project-single">
          <a href="https://github.com/Namibo06/front_angular_vida_financeira" target="_blank">
            <img src="../../../../assets/projeto-financeiro.png" alt="Projeto Financeiro">
  
            <h4>Vida Financeira</h4>
  
            <picture>
              <img src="../../../../assets/icons8-angular.svg" alt="Angular Framework" title="Angular Framework">
  
              <img src="../../../../assets/icons8-nestjs.svg" alt="NestJS" title="NestJS">
  
              <img src="../../../../assets/icons8-mongo-db-48.png" alt="MongoDB" title="MongoDB">
            </picture>
          </a>
        </div><!--project-single-->
  
        <div class="project-single">
          <a href="https://github.com/Namibo06/projeto-barbearia" target="_blank">
            <img src="../../../../assets/projeto-barbx.png" alt="Barbx">
  
            <h4>Barbx</h4>
  
            <picture>
              <img src="../../../../assets/icons8-html5.svg" alt="HTML5" title="HTML5">
  
              <img src="../../../../assets/icons8-css.svg" alt="CSS3" title="CSS3">
  
              <img src="../../../../assets/icons8-js.svg" alt="JavaScript" title="JavaScript">
            </picture>
          </a>
        </div><!--project-single-->
      </div><!--project-wrapper-->
    </section><!--projects-->
  </main>
</div>