<div class="contact-container" id="home">
  <!--<div class="callback-form">
    <p class="error" *ngIf="callback_error">
      <fa-icon [icon]="cancel"></fa-icon> Mennsagem não enviada
    </p>

    <p class="success" *ngIf="callback_success">
      <fa-icon [icon]="check"></fa-icon> Mensagem enviada com sucesso
    </p>
  </div>-->

  <header>
    <app-header [receptBgInput]="updateIconBg" (toogleThemeReturn)="isSunOrMoon($event)"></app-header>
  </header>

  <main>
    <section class="about">
      <h3>Sobre</h3>

      <div class="content">
        <p>Meu nome é Joalisson Pinto Maia,tenho 21 anos, costumam dizer que sou uma pessoa bastante paciente e simpático, sou emocionalmente equilibrado, adoro falar sobre o mundo de T.I, nos tempos livres gosto de jogar, assistir, codar, ... , sou eclético a gosto musical, pretendo me tornar um grande empresário futuramente, e esse é um breve resumo sobre mim.</p>

        <p>Já ao ambiente de trabalho, valorizo o trabalho em equipe,mas também sei trabalhar muito bem sozinho, me adapto a qualquer ambiente, estou aberto a aprender e utilizar outras tecnologias se preciso for, ao depender da situação gosto muito de discutir sobre,por exemplo se pedirem opnião sobre o rumo da empresa ou do projeto, e essas são somente algumas das coisas mais relevantes que encontrei no momento.</p>
      </div><!--content-->
    </section><!--about-->

    <section class="contact">
      <h3>Entre em contato</h3>

      <form #whatsappForm="ngForm" (ngSubmit)="sendMessageForWhatsapp(whatsappForm.value.firstName, whatsappForm.value.lastName, whatsappForm.value.assunt, whatsappForm.value.message)">
        <div class="camp">
          <input type="text" placeholder="Nome" name="firstName" ngModel required>
        </div><!--camp-->

        <div class="camp">
          <input type="text" name="lastName" placeholder="Sobrenome" ngModel>
        </div><!--camp-->

        <div class="camp">
          <select name="assunt" id="assunt" ngModel (change)="assunt">
            <option value="">Selecione um assunto</option>
            <option value="work">Oferta de Emprego</option>
            <option value="feedback">Feedback Portifólio</option>
            <option value="networking">Networking</option>
            <option value="other">Outro</option>
          </select>
        </div><!--camp-->

        <div class="camp">
          <textarea name="message" id="message" placeholder="Mensagem" ngModel></textarea>
        </div><!--camp-->

        <button type="submit" [disabled]="">Enviar</button>
      </form>
    </section><!--contact-->
  </main>
</div><!---contact-container-->
